body,div,ul,li{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: #777;
}

a:hover{
    color: #f25b1e;
}

li{
    list-style: none;
}
#leftMenu{
    margin-left: 30px;
    margin-top: 20px;
    width: 215px;
}
#leftMenu #leftTitle{
    height: 40px;
    line-height: 40px;
    background: #efefef;
    color: #000;
    text-indent: 15px;
    font-weight: bold;
    border: 1px solid #d5d5d5;
    border-top: 3px solid #505050;
    font-size: 1.5em;
}

#subMenu>ul>li>a{
    display: block;
    height: 33px;
    line-height: 33px;
    text-indent: 20px;
    background: #d523c4;
    border-left: 1px solid #d5d5d5;
    border-right: 1px solid #d5d5d5;
    color: #fff;
    font-size: 1.2em;
}
#subMenu>ul>li>a:hover{
    background: #4cf;
    color: yellow;
    font-weight: bold;
}

ul.depth2>li>a{
    display: block;
    height: 25px;
    line-height: 25px;
    text-indent: 25px;
    border-left: 1px solid #d5d5d5;
    border-right: 1px solid #d5d5d5;
    cursor: pointer;
    
    
}
ul.depth2>li>a:hover{
    background: #ddd;
}