    <style > * {
        margin: 0;
        padding: 0;
    }
body{
    margin: 0;
    padding: 0;
}


    #A_container {
        width: 85%;
    }

    /*        navi영역 시작*/
    #A_navi > a > img {
        width: 100%;
        height: 286px;
    }

    /*        navi영역 끝*/
    /*        menu영역 시작*/
    #A_menu {
        clear: both;
        width: 100%;
        height: 60px;
        border-bottom: 1px solid #ccc;
    }

    #A_menu > #A_menu1 {
        width: 50%;
        height: 60px;
        float: left;
        line-height: 30px;
        padding-left: 25%;
        text-align: center;
        font-size: 1.1em;
        box-sizing: border-box;
    }

    #A_menu > #A_menu2 {
        width: 50%;
        height: 60px;
        line-height: 30px;
        float: left;
        padding-right: 25%;
        text-align: center;
        font-size: 1.1em;
        box-sizing: border-box;
    }
#A_menu > #A_menu1 > a{
        color: #686666;
    text-decoration: none;
}
#A_menu > #A_menu2 > a{
     text-decoration: none;
        color: #686666;
}

    #A_menu > #A_menu1 > a > p:hover {
        font-weight: bold;
        color: red;
    }

    #A_menu > #A_menu2 > a > p:hover {
        font-weight: bold;
        color: red;
    }

    /*        menu영역 끝*/
    /*        body영역 시작*/
    #A_body {
        width: 100%;
        height: 1024px;
        margin-top: 70px;
    }

    /*        bodyheader영역 시작*/
    #A_body > #A_bodyheader {
        width: 100%;
        height: 450px;
        margin: 0 auto;
    }

    #A_body > #A_bodyheader > #A_bodyheaderimg > #A_imgwrap {
        width: 60%;
        height: 328px;
        margin: 0 auto;
    }

    #A_body > #A_bodyheader > #A_bodyheaderimg > #A_imgwrap > img {
        width: 100%;
        height: 328px;
    }

    #A_body > #A_bodyheader > #A_bodyheaderimg > #A_imgbottom {
        width: 60%;
        height: 30px;
        background: #888;
        margin: 0 auto;
    }

    #A_body > #A_bodyheader > #A_bodyheaderimg > #A_imgbottom > #A_imgbw {
        width: 60px;
        margin: 0 auto;

    }

    #A_body > #A_bodyheader > #A_bodyheaderimg > #A_imgbottom > #A_imgbw > .A_cir1 {
        width: 13px;
        height: 13px;
        margin: 0 auto;
        margin: 6px;
        border-radius: 100px;
        background: #ddd;
        z-index: 99;
        float: left;
        box-sizing: border-box;
    }

    /*        bodyheader영역 끝*/
    /*        bodymain영역 시작*/
    /*        bodymain1영역시작*/
    #A_bodymain1 {
        position: relative;
        width: 100%;
        height: 450px;

    }

    #A_bodymain1 > #A_bodymain1-1 {
        width: 50%;
        height: 450px;

        float: left;

    }

    #A_bodymain1 > #A_bodymain1-2 {
        width: 50%;
        height: 450px;

        float: left;
    }

    #A_bodymain1-1 > a > img {
        margin-left: 40%;
        width: 57%;
        height: 160px;
    }

    #A_bodymain1-2 > a > img {
        margin-right: 40%;
        width: 57%;
        height: 160px;
    }

    #A_bodymain1-1 > #A_bodymain1w {
        margin-left: 40%;
        text-align: left;
    }

    #A_bodymain1-2 > #A_bodymain2w {
        margin-right: 40%;
        text-align: left;
    }

    /*        bodymain1영역끝*/
    /*        bodymain2영역시작*/
    #A_bodymain2w {
        display: block;
        position: relative;
        width: 100%;
        clear: both;
/*        border-bottom: 1px solid #ccc;*/

    }

    #A_bodymain2 {
        width: 80%;
        height: 300px;
        margin-left: 20%;
    }

    #A_bodymain2 > ul > a> li {
        list-style: none;
        margin-left: -40px;
        border-bottom: 1px solid #999;
        font-size: 1.1em;
        width: 100%;
        height: 55px;
        line-height: 55px;
        text-indent: 5px;
        cursor: pointer;
    }

    #A_bodymain2 > ul > #A_b {
        border-top: 1px solid #999;
    }

    #A_bodymain2 > h2 {
        width: 100%;
        height: 40px;
    }
/*    bodymain2영역끝*/
/*    bodymain3영역시작*/
#A_bodymain3{
    width: 100%;
    height: 250px;    
    margin-left: 20%;
    margin-top: 60px;
}
#A_bodymain3>#A_bodymain3-1{
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}
#A_bodymain3>#A_bodymain3-1>#A_bw{
    margin-top: 50px;
}
#A_bodymain3>#A_bodymain3-1>#A_bw>p{
    color: #888;
    text-align: left;
    line-height: 1.5;
}
/*bodymain3영역끝*/





    </style >
